        * {
            margin: 0;
            padding: 0;
           
        }    

        .navbar {
            background-color: #ecdd8a;
        }

        /* Header */
        .nav-link {
            letter-spacing: 1px;
            font-weight: 600;
            font-size: 14px;
         
        }

        /* Top banner */
        .top-banner {
            background-color: #753b0c;
            color: white;
            margin-bottom: 30px;
            padding: 30px 0;
            gap: -3px;
        }

        .top-banner .btn {
            border-radius: 50px;
            border: 1px solid white;
            color: white;
        }

        /* Hero section */

        .container-fluid {
            margin-bottom: 30px;
        }

        .hero-text {

            background-color: #753b0c;
            color: white;
            padding: 60px;

        }

        .hero-text h2 {
            font-weight: 700;
        }

        .hero-text p {
            font-size: 18px;
            line-height: 1.7;
            margin-bottom: 30px;
        }

        .hero-text .btn {
            border-radius: 50px;
            font-weight: 600;
        }

        .footer a:hover {
            text-decoration: underline;

        }

