body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f5f1ee;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 80%;
    margin: auto;
    padding: 40px 20px;
}

h1 {
    text-align: center;
    color: #4b2e2e;
    margin-bottom: 10px;
}

p.subtitle {
    text-align: center;
    color: #6b4f4f;
    margin-bottom: 40px;
}

.contact-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.contact-info,
.contact-form {
    background: #ffffff;
    padding: 1rem 3rem;
    border-radius: 10px;
    flex: 1;
    min-width: 300px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.contact-info{
    padding: 1rem 3rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.contact-info h2,
.contact-form h2 {
    color: #4b2e2e;
    margin-bottom: 15px;
}

.contact-info p {
    margin: 10px 0;
    color: #333;
}

.contact-info strong {
    color: #4b2e2e;
}

form input,
form textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
}

form textarea {
    resize: none;
    height: 120px;
}

form button {
    background-color: #4b2e2e;
    color: #fff;
    border: none;
    padding: 12px 25px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    cursor: pointer;
    transition: transform 0.5s ease;
}

form button:hover {
    background-color: #6b4f4f;
    transform: scale(1.1);
}

.footer {
    text-align: center;
    margin-top: 40px;
    color: #777;
    font-size: 14px;
}