body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f3f3f3;
    /* background-image: url(/Image/bg.png); */
}

.container {
    width: 600px;
    height: 500px;
    background: #fff;
    margin: 80px auto;
    border-radius: 12px;
    display: flex;
    box-shadow: 0 0 18px rgba(0, 0, 0, 0.1);
}

.left-section {
    width: 50%;
    display: flex;
    justify-content: center;    
    align-items: center;
}

.left-section img {
    width: 300px;
    height: 500px;
    border-radius: 12px;
}

.right-section {
    width: 50%;
    padding: 40px;
}

.right-section h2 {
    margin-bottom: 25px;
    font-size: 28px;
}

.right-section p{
    font-size: 14px;
    color: #888;
}

.right-section input {
    width: 100%;
    padding: 12px;
    margin-bottom: 18px;
    border-radius: 6px;
    border: 1px solid #aaa;
    font-size: 15px;
}

button {
    width: 50%;
    padding: 12px;
    background: #4a8af4;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    margin-left: 4rem;
    margin-top: 2rem;
}

button:hover {
    background: #3b72cf;
}