* {
    margin: 0;
    padding: 0;
}

nav {
    padding: 30px 250px;

}

.navs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    color: rgb(227, 99, 7);
    text-shadow: 1px 1px 5px rgba(128, 128, 128, 0.751);
    background: rgba(79, 78, 78, 0.407);
    box-shadow: 2px 2px 20px rgba(128, 128, 128, 0.341);
    border: 3px solid rgba(255, 255, 255, 0.066);
    backdrop-filter: blur(5px);
    border-radius: 50px;




}

.navs .menu {
    display: flex;
    gap: 50px;


}
.navs .menu a:hover{
    color: rgb(217, 163, 0);
    text-shadow: 1px 1px 20px gray;

}

/* header */
.head {
    background: linear-gradient(to right bottom, rgba(0, 0, 0, 0.51), rgba(0, 0, 0, 0.93)),
        url(../img/image\ copy.png) center/cover no-repeat;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 5px 5px 20px gray;
    line-height: 1;
    color: white;
    height: 70vh;

    h1 {
        font-weight: bolder;
        font-style: italic;
        font-size: 50px;
    }

    p {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }


}

.header .div .btn {
    background-color: rgb(129, 64, 19);
    box-shadow: 1px 2px 20px rgba(237, 150, 88, 0.523);
    border: none;
}

.header .div .btn:hover {
    box-shadow: 1px 2px 20px rgba(237, 150, 88, 0.952);
    background-color: rgba(210, 93, 9, 0.863);

}

/* element */
.element {
    display: flex;
    justify-content: center;
    gap: 100px;
}

.element .element1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.element .element1 i {
    color: rgb(85, 84, 83);
    font-size: 35px;

}

/* product */
.product {
    background-color: white;
    padding: 60px;

    h2 {
        text-align: center;
        font-weight: bold;
    }

}

.card-main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;

    /* display: flex;
    justify-content: space-between; */
    h5 {
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
}

.card-main .card {
    transition: all 0.3s ease;
    cursor: pointer;
}

.card-main .card:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.393);
}

.price {
    display: flex;
    align-items: center;
    justify-content: space-between;

    p {
        font-weight: 700;
        font-size: large;
        margin-top: 30px;
    }
}

.price a {
    background-color: rgb(72, 35, 9);
    color: white;
}

.price a:hover {
    box-shadow: 2px 2px 10px rgba(124, 53, 2, 0.79);
    background-color: rgb(106, 52, 13);
    color: white;

}

/* slide show */
.slider {
    width: 100%;
    height: 60vh;
    position: relative;
    overflow: hidden;
}

.slider img {
    width: 100%;
    /* height: 50vh; */
    position: absolute;
    opacity: 0;
    animation: slide 9s infinite;
}

.slider img:nth-child(1) {
    animation-delay: 0s;
}

.slider img:nth-child(2) {
    animation-delay: 3s;
}

.slider img:nth-child(3) {
    animation-delay: 6s;
}

@keyframes slide {
    0% {
        opacity: 0;
    }

    10% {
        opacity: 1;
    }

    30% {
        opacity: 1;
    }

    40% {
        opacity: 0;
    }
}

/* product-2 */
.product-2 {
    background-color: white;
    margin: 40px;
    padding: 60px;

    h2 {
        text-align: center;
    }
}

/* show-interest */
.show-interest {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.group {
    text-align: center;
}

.group .btn {
    background-color: rgb(72, 35, 9);
    color: white;

}

.group .btn:hover {
    box-shadow: 2px 2px 10px rgba(124, 53, 2, 0.79);
    background-color: rgb(106, 52, 13);
    color: white;

}

.show-interest img {
    width: 25%;
}

/* our-customer */
.Our-costomer {
    background: white;
    margin-top: 40px;
    padding: 50px;

    h2 {
        text-align: center;
    }
}

.Our-costomer .card {
    margin-top: 50px;
    width: 30%;
    height: 30%;
    padding: 20px;

    p {
        font-size: 12px;
    }
}

.card-costomer {
    display: flex;
    justify-content: space-between;

    .pro {
        display: flex;
        align-items: center;
        line-height: 0.4;
        gap: 20px;

        img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
        }
    }
}

.card-costomer i {
    color: rgb(255, 153, 0);
    font-size: 14px;
}

.Our-costomer .group-card {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.box-group {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 40px;
}

.box-group .box {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 1px solid gray;


}

/* discound */
.discond {
    text-shadow: 1px 1px 20px rgba(188, 187, 185, 0.986);
    display: flex;
    align-items: center;
    justify-content: space-between;

    img {
        width: 17%;
    }
}

.discond .group-btn {
    display: flex;
    gap: 20px;
}

.discond .group-btn input {
    padding: 7px;
    border-radius: 5px;
    border: 1px solid gray;


}

.group-btn .btn {
    background-color: rgb(72, 35, 9);
    color: white;

}

.group-btn .btn:hover {
    box-shadow: 2px 2px 10px rgba(124, 53, 2, 0.79);
    background-color: rgb(106, 52, 13);
    color: white;

}